div {
  display: block;
}

header {
  margin: 0;
  padding: 0;
}
#header-inner{
  margin: 0 auto;
  padding: 0;
  width: 970px;
}

#header-inner #logo {
  padding: 0;
  width: auto;
}

#header-inner #socialImg {
  height: 30px;
  width: 30px;
  float: left;
}

#DCSC-logo {
height: 80px;
float: left;
}

#top-menu {
  margin: 0 auto;
  padding: 0px 0 0;
  height: 10%;
  float: right;
}

#top-menu ul {
  list-style: none;
  padding: 0;
  height: 5%;
  float: left;
}

#top-menu ul li {
  margin: 0;
  float: left;
}

#top-menu ul li a {
  display: block;
  margin: 0;
  padding: 8px 8px;
  color: black;
  text-decoration: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;

}

.cover-img{

  width:100%;

}
